.settings_container {
  margin-left: 19.7rem;
  width: 28.7%;
  border-left: 1px solid #3b3b3d;
}

.settings_header_container {
  padding: 0rem 1rem;
  margin: 1rem 0rem;
  display: flex;
  align-items: center;
}

.settings_header {
  font-size: 1.3rem;
  font-weight: 600;
}

.settings_single_setting_container {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.single_setting_icon_container {
  display: flex;
}

.settings_single_setting_name_container {
  margin-right: auto;
}

.single_setting_name {
  font-weight: 400;
}

.settings_single_setting_container:hover {
  background-color: #16181c;
}

.active_option {
  background-color: #16181c;
}

.mobile_prof_pic_container {
  display: none;
}

.bottom_bar_mobile_container {
  display: none;
}

.bottom_bar_helper {
  width: 25%;
  display: flex;
  justify-content: center;
}

.mobile_home_icon_container,
.mobile_search_icon_container,
.mobile_notifications_icon_container,
.mobile_messages_icon_container {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tweets_container {
  margin-bottom: 5rem;
}

.create_new_tweet_container {
  display: none;
}

.mobile_home_icon_container:hover,
.mobile_search_icon_container:hover,
.mobile_notifications_icon_container:hover,
.mobile_messages_icon_container:hover {
  background-color: #16181c;
}

@media (max-width: 999px) {
  .mobile_right_bar {
    display: none;
  }
  .settings_container {
    width: 100%;
    margin-left: 0rem;
  }
  .bottom_bar_mobile_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    border-top: 1px solid #3b3b3d;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000000;
  }
  .create_new_tweet_container {
    display: flex;
    position: fixed;
    bottom: 4.5rem;
    right: 1rem;
    background-color: rgb(29, 155, 240);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(217 217 217 / 20%) 0px 0px 5px,
      rgb(217 217 217 / 25%) 0px 1px 4px 1px;
  }
}

@media (min-width: 1000px) and (max-width: 1403px) and (max-height: 499px) {
  .settings_container {
    width: 30%;
    margin-left: 0rem;
  }
  .bottom_bar_mobile_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    border-top: 1px solid #3b3b3d;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000000;
  }
  .create_new_tweet_container {
    display: flex;
    position: fixed;
    bottom: 4.5rem;
    right: 1rem;
    background-color: rgb(29, 155, 240);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(217 217 217 / 20%) 0px 0px 5px,
      rgb(217 217 217 / 25%) 0px 1px 4px 1px;
  }
}

@media (min-width: 500px) and (min-height: 500px) and (max-width: 999px) {
  .settings_container {
    width: 85%;
    margin-left: 15%;
  }
  .bottom_bar_mobile_container {
    display: none;
  }
}

@media (min-width: 1000px) and (min-height: 500px) and (max-width: 1281px) {
  .settings_container {
    margin-left: 15%;
    width: 50%;
  }
}

@media (max-width: 500px) and (min-height: 500px) {
  .mobile_right_bar {
    display: none;
  }
  .settings_container {
    width: 100%;
    margin-left: 0rem;
  }
  .bottom_bar_mobile_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    border-top: 1px solid #3b3b3d;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000000;
  }
  .create_new_tweet_container {
    display: flex;
    position: fixed;
    bottom: 4.5rem;
    right: 1rem;
    background-color: rgb(29, 155, 240);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(217 217 217 / 20%) 0px 0px 5px,
      rgb(217 217 217 / 25%) 0px 1px 4px 1px;
  }
}
